.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8));
    margin: 0;
    padding: 0;
}

.bannerTitle {
    margin: 200px;
    background-color:red;
}