body {
    background-image: url(../img/mountains-parralax.jpg);
    background-repeat: repeat;
    background-position: 50% 0;    
    min-height: 1000px;
    font-family: sans-serif;
}

section {
    margin: 0;
    padding: 0;
}