body {
    background-image: url(../img/mountains-parralax.jpg);
    background-size: auto, cover;
    background-attachment: fixed, fixed;
    background-position: center, center;
}

section {
    margin: 0;
    padding: 0;
}